page-pedidos {
    .enc{
        padding: 15px;
    }
    .t_enc{
        border-bottom-style: double;
        border-top-style: double;
        text-align: center;
        font-size: 14px;
        border-color: #2a6ee6;
        font-weight: bold;
        background-color: #f9f6f6;
    }
    .t_total{
        font-weight: bold;
        font-size: 14px;
    }
}
