page-administrador {

    .menu{
        background-color: rgba(0, 0, 0, 0.6);
        border-color: #2a6ee6;
        border-style: solid;
        border-radius: 15px;    
        margin: 5px;
        text-align: center;
        padding: 5px;
    }
    .men01{
        background-color: rgba(225, 56, 56, 0.4);
        color: WHITE;
        padding: 15PX;
        text-align: CENTER;
    }
}
